*,
::after,
::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url(./res/background.png);
  background-size: cover;
  background-attachment: fixed;
}
