*,
::after,
::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url(./res/background.png);
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}

#div-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input[type="button"] {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #ffa500;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #ff8c00;
}

input[type="button"]:last-child {
  background-color: #6c757d;
}

input[type="button"]:last-child:hover {
  background-color: #4e555b;
}

label {
  color: white;
}
